/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #7d5a3e;
  --ifm-color-primary-dark: #715138;
  --ifm-color-primary-darker: #6a4d35;
  --ifm-color-primary-darkest: #583f2b;
  --ifm-color-primary-light: #896344;
  --ifm-color-primary-lighter: #906847;
  --ifm-color-primary-lightest: #a37551;
  --ifm-background-color: #fffff7;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #d5d3d7;
  --ifm-color-primary-dark: #c0bdc3;
  --ifm-color-primary-darker: #b5b2b9;
  --ifm-color-primary-darkest: #95909a;
  --ifm-color-primary-light: #eae9eb;
  --ifm-color-primary-lighter: #f5f4f5;
  --ifm-color-primary-lightest: #ffffff;
  --ifm-background-color: #0f0600;
}
